.hw8 {
  .tablePeople {
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin: 4px 0;
    //font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;

  }

  .button {
    display: flex;
    justify-content: space-between;
    width: 305px;

    .superButton {
      margin: 12px 0;
      font-size: 14px;
      padding: 4px;
      width: 95px;
      border: 1px solid grey;
    }
  }
}